@font-face {
	font-family: 'Qanelas';
	src: url('./QanelasRegular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Qanelas';
	src: url('./QanelasRegularItalic.otf') format('opentype');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Qanelas';
	src: url('./QanelasLight.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Qanelas';
	src: url('./QanelasLightItalic.otf') format('opentype');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Qanelas';
	src: url('./QanelasMedium.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Qanelas';
	src: url('./QanelasMediumItalic.otf') format('opentype');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Qanelas';
	src: url('./QanelasSemiBold.otf') format('opentype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Qanelas';
	src: url('./QanelasSemiBoldItalic.otf') format('opentype');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Qanelas';
	src: url('./QanelasBold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Qanelas';
	src: url('./QanelasBoldItalic.otf') format('opentype');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Qanelas';
	src: url('./QanelasExtraBold.otf') format('opentype');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Qanelas';
	src: url('./QanelasExtraBoldItalic.otf') format('opentype');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Qanelas';
	src: url('./QanelasBlack.otf') format('opentype');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Qanelas';
	src: url('./QanelasBlackItalic.otf') format('opentype');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Qanelas';
	src: url('./QanelasThin.otf') format('opentype');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Qanelas';
	src: url('./QanelasThinItalic.otf') format('opentype');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Qanelas';
	src: url('./QanelasUltraLight.otf') format('opentype');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Qanelas';
	src: url('./QanelasUltraLightItalic.otf') format('opentype');
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}
